<!-- <p class="red-text" *ngIf="currentPlayers.length === 0">No players joined yet</p>
<div class="row" *ngIf="currentPlayers.length > 0">
    <div class="col-xs-12" *ngFor="let player of currentPlayers; let i = index">
        <h4>
            <button
                [class]="player.finish ? 'btn btn-warning btn-lg' : 'btn btn-default btn-lg'"
                style="width: 100%;"
                (click)="onPlayerClick(i)"
                [disabled]="player.finish || !isTimerStart">
                {{player.name}}</button>
        </h4>
    </div>
</div> -->

<!-- if you want to use the application by player use the code below and comment out the other one -->

<!-- <div class="row text-center">
  <div class="col-md-2" style="margin-bottom: 20px;" *ngFor="let player of currentPlayers; let i = index">
    <h2 [ngClass]="player.joined ? 'greenBack' : 'greyBack'" style="font-size: 28px; width: 70%; border-radius: 7px; padding: 10px;">{{player.name}}</h2>
    <img *ngIf="player.joined" src="../../../assets/images/stu.png" class="img-circle" style="width: 100px;">
    <img *ngIf="!player.joined" src="../../../assets/images/stu-off-2.png" class="img-circle" style="width: 100px;">
    <img *ngIf="player.joined" src="../../../assets/images/on.png" style="width: 40px;">
    <img *ngIf="!player.joined" src="../../../assets/images/off.png" style="width: 40px;">
  </div>
</div> -->

<!-- if you want to use the application by groups use the code below and comment out the other one -->
<div class="row text-center">
    <div class="col-md-4" style="margin-bottom: 30px; text-align: center; height: 450px;" *ngFor="let player of currentPlayers; let i = index">
        <h2 [ngClass]="player.joined ? 'greenBack' : 'greyBack'" style="font-size: 28px; text-align: center; width: 100%; border-radius: 7px; padding: 10px;">{{player.name}}</h2>
        <img *ngIf="player.joined" [src]="'../../../assets/images/'+i+'.png'" class="img-responsive" style="width: 350px; margin:0 auto;">
        <img *ngIf="!player.joined" src="../../../assets/images/off.png" class="img-responsive" style="width: 350px; margin:0 auto;">
        <br>
        <!-- <img *ngIf="player.joined" src="../../../assets/images/on.png" style="width: 60px;">
        <img *ngIf="!player.joined" src="../../../assets/images/off.png" style="width: 60px;"> -->
    </div>
</div>
